* {
  box-sizing: border-box;
}

body{
  background-image: url("https://i.imgur.com/VWwS0Zf.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/* navbar *************************/

.navbar {
  list-style-type: none;
  padding: 0px;
  padding-left: 50px;
  margin: 25px;
  overflow: hidden;
  background-color:#7C997B;
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.7);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.nav-link{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 25px;
  color:white;
}
.nav-header{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 35px;
  color:white;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*footer ************/
footer{
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:#7C997B;
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.7);
  font-family: 'Medio', sans-serif;
  margin: 25px;
}


/*Homepage**********/


.welcome {
  color: #7C997B;
  font-family: 'Elisabeth Clara', sans-serif;
  text-align: center;
  font-size: 70px;

}
.welcome-note {
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  padding: 30px;
}
.bottom-note {
  color: white;
  font-family: 'Medio', sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  padding: 20px;
}


.Homepage-div {
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: block;
  position: relative;
  margin: 25px 25px;
  padding: 15px;
  height: auto;
}
.welcome-note-div {
  position: relative;
  height: auto;
  margin: 0px 50px;
  background-color:#7C997B;
}
.bottom-div {
  position: relative;
  height: auto;
  margin: 0px 50px;
  background-color: #D7EED6;
}
@media only screen and (max-width: 500px){
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding-left: 50px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    background-color:#7C997B;
  }
  .nav-link{
    display: none;
  }
  .nav-header{
    margin-left: 30px;
  }
 
  .Homepage-div {
    background:rgba(255,255,255,0.6);
    font-family: 'Medio', sans-serif;
    display: block;
    position: relative;
    margin: 5px 5px;
    padding: 15px;
    height: auto;
  }
  .welcome-note-div {
    position: relative;
    height: auto;
    margin: 0px 10px;
    background-color:#7C997B;
  }
  .bottom-div {
    position: relative;
    height: auto;
    margin: 0px 10px;
    background-color: #D7EED6;
  }
}
@media only screen and (max-width: 1600px){
  .tri-div{
    display: none;
  }
  .triangleDivHpR{
    display: none;
  }
}

.tri-div {
  position: relative;
  height: auto;
  margin: 0px 50px;
}

.triangleDiv {
  border-top: 80px solid #D7EED6;
  border-right: 700px solid transparent;
  border-left: 700px solid transparent; 
}


/* Zip Form styling**************/

.zip-form {
  position: relative;
  left: 0px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.form-controlHp {
  font-size: 15px;
  color: #156C28;
  text-align: center;
  height: 40px;
  width: 280px;
}

#zipButton {
  color: #156C28;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(115, 181, 145, .4);
  border: 2px solid #156C28;
}
/* garden display div ********/
.gardenDisplayDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
}

.garden-img-div {
  display: inline-block;
  position: relative;
  text-align: center; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px double #156C28;
}
.gardenDisplayLink {
    position: relative;
    display: inline-block;
    color: #156C28;
    left: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #156C28;
    object-fit: cover;
    
  }

@media only screen and (max-width: 500px){
  .gardenDisplayDiv{
    display: block;
    margin: 10 auto;
  }
  .garden-img-div {
    display: none;
  }
}
/* ***Team*** */
.team{
  color: #507E5A;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  border: 2px solid #156C28;
  position: relative;
  height: auto;
  margin: 0px 50px;
}
.team-heading{
  text-align: center;
}
.team-bios{
  display: flex;
  justify-content: space-around;
}
.bio-img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}
@media only screen and (max-width: 500px){
  .team{
    margin: 0px 10px;
  }
  .team-bios{
    display: block;
    text-align: center;
  }
}





/*********************************/
.gardenDisplayP {
  display: inline-block;
}

.garden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
a {
  text-decoration: none;
  color: #156C28;
}


.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;

}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;

}
.farm-profile {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 50px;
  
}

.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.garden-profile{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: flexbox;
   
}

.garden-profile-info{
      background:rgba(215, 238, 214); 
      width: 800px;
}
.garden-left{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:  center;
  margin-left: 100px;
}
.farm-profile-address{

}

/* user profile styling */
.profile-container{
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.5);

}

.welcome-user{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
  margin-top: 0px;
}

.badge-div {
  position: relative; 
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.pic-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile-pic {
  object-fit: cover;
  margin: 50px;
  position: relative; 
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.picture-change{
  border: solid black 2px;
  padding: 10px;
}
.badge-pic {
  object-fit: cover;
  position: relative; 
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile-info{
  margin: 50 px;
}
.name-farmer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about {
  
  border: solid black 2px;
  padding: 20px;
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
/* about us page styling */

.about-us-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

                      /* ***COMMUNITY BOARDS*** */

/* trade styling */

.trade{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

/* buy styling */

.community-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
  margin-top: 0px;
}
.newpost-button{
  margin: 0 auto;
}
.postDiv {
  position: relative;
  margin:10px;
  margin-left: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1450px;
  text-align: center;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
  
}
.no-margin{
  margin:0px;
}
.post-content{
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}
.comment-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 30px;
  margin: 0px 300px 0px 300px;
}
.comments{
  background-color: rgba(215, 238, 214);
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}
.post-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 30px;
  margin: 0px 50px 0px 50px;
}
.post-form{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;

}

/* styling for holistic */

.holistic{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

.postContainer{
  padding: 20px;
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  
}

.communityButton {
  color: #156C28;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #156C28;
}

.postScroll {
  width: 1560px;
  height: 300px;
  overflow: scroll;
}


/* volunteer page styling */
.volunteer{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

.boardDescrip {
  color:#156C28;
  text-align: center;
}

.view-post {
  position: relative;
  margin:5px;
  margin-left: 75px;
  width: 1450px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
  
}
/* login page styling */

.login{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.login-container{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form-group{
  margin:  15px 0px 15px 0px;
}

/* signup page styling */

.signup{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.signup-container{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form-group{
  margin:  15px 0px 15px 0px;
}



/* garden page styling */

.garden-list{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

.garden-list-img-div{
  position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
  
  
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}




/* garden profile styling */
.garden-profile{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.farm-profile-img-div {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 150px;
}
.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .garden-profile-info{
 margin: 100px 100px 100px 0px;
 }
.garden-profile-about-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.garden-profile-about{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  font-weight: bold;
  margin:20px;
  font-family: 'Beauty Club', sans-serif;
  font-size: 16px;
  border: solid black;
}
.garden-profile-reviews-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.review-1{
  background:rgba(215, 238, 214); 
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.review-2{
  background:rgba(215, 238, 214);
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.review-3{
  background:rgba(215, 238, 214);
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.farm-profile-address{

  font-family: 'Beauty Club', sans-serif; 
  font-size: 18px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

/* garden page styling */
.garden-list-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-list{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.ind-garden-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.ind-garden{
  background:rgba(255,255,255,0.6);
  border: solid black;
  margin: 15px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.ind-garden-profile{
  margin-right:80px;
}
.garden-list-img-div{
  position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
            margin-top: 50px;
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{
  font-family: 'Beauty Club', sans-serif; 
}
.list-of-gardens{
  margin-top:100px;
  width: 1200px;
  margin: auto;
}
.gardren-list-address{
  margin:50px;
}