* {
  box-sizing: border-box;
}

body{
  background-color: rgb(236, 241, 229);
 
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

          /* NAVBAR */

nav{
  position: fixed;
  top: 0;
  z-index: 2;
  background-color:#7C997B;
  display:flex;
  flex-direction:column;
  align-items: center;
  height: 60px;
}

ul{
  text-decoration: none;
  padding-right: 50px;
  
}

.nav-link{
  text-decoration: none;
  justify-content: space-between;
  padding-left: 20px;
  padding-right:20px;
  font-size: 20px;
  color:white;
}

.nav-logo{
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right:20px;
  font-size: 45px;
  color:white;
}

li{
  display: inline;
  float:left;
  
}

/* *** Homepage Styling ***  */

ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 50px;
}

.header{
  position: absolute;
  left: 0;
  top: 0;
  color:white;
  
}

.video-container{
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #507E5A;
  text-align: center;
  font-size: 50px;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

.homepageVideo {
  position: relative;
  width: 100vw;
}


.welcome {
  color: #507E5A;
  text-align: center;
  font-size: 50px;
}

.welcome-to-farmony {
  position: absolute;
  z-index: 1;
  background-color: rgba(103, 136, 103, 0.26);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.separator {
  height: 100vh;
  background-color: rgba(0, 128, 128, 0.384);
}

.homepage-main {
  z-index: 1;
  background:rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  height: auto;
  width: 100vw;
}

.welcomeComp {
  background-color: rgba(115, 181, 145);
}
.home-about-container {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 100vw;
}

.about-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  background-color: rgb(112, 173, 132);

}

.aboutFarmony {
  position: relative;
  text-align: center;
  text-align: justify;
  padding: 25px;
  color:#e9f3e9;
  margin: 0 auto;
  font-size: 25px;
}

#aboutFarmony2 {
  color: #b8e9cb;
  margin-bottom: -200px;
}

.homepage-img {
  position: relative;
  width: 40vw;
  height: auto;
  
}

.zipFormDiv {
  position: relative;
  width: 900px;
  height: 10px;
  left: 0px;
  margin: 0 auto;
  padding: 10px;
}

         /* SIGNUP PAGE */

.signup-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.555);
  width: 50vw;
  height: 45vh;
  text-align:right;
}

.signup{
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(115, 181, 145);
  font-size: 40px;
}

  .signup-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-submit {
  position: relative;
  background-color: rgb(115, 181, 145);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;

}

.form-group{
  margin:  15px 0px 15px 0px;
}
/* ***Zip Form styling*** */

.zip-form {
  position: relative;
  width: 900px;
  left: 0px;
  margin: 0 auto;
  padding: 10px;
}

.form-controlHp {
  font-size: 30px;
  color: #156C28;
  text-align: center;
  height: 40px;
  width: 750px;
}

#zipButton {
  position: relative;
  color: #156C28;
  width: 100px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(115, 181, 145, .4);
  border: 2px solid #156C28;
}

.gardenDisplayDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
}

.gardenDisplayLink {
  position: relative;
  display: inline-block;
  color: #156C28;
  width: 200px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #156C28;
  object-fit: cover;
}

.viewGardButton {
  border: 2px solid #156C28;
  padding: 5px;
  text-decoration: none;
  color: #156C28;
}

/* ***Garden Profile styling*** */
.garden-profile{
  background:rgba(255,255,255,0.6);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
   
}

.garden-img-div {
  display: inline-block;
  position: relative;
  text-align: center; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px double #156C28;
}

.garden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;

}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;

}
.farm-profile-img-div {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 50px;
  margin-top: 150px;
  
}

.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


 .garden-profile-info{
 margin-top:100px;
 }
                                      

.garden-profile-about-heading{
  font-size: 24px;
  
}

.garden-profile-about{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  font-weight: bold;
  margin:20px;
  font-size: 20px;
  border: solid darkslategray;
  

}


.garden-profile-reviews-heading{
  font-size: 24px;

}

.garden-profile{
  background:rgba(255,255,255,0.6);
  display: flexbox;
   
}

.review-1{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  border: solid darkslategray;
  font-size: 20px;
  

}
.review-2{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  border: solid darkslategray;
  font-size: 20px;
  
}
.review-3{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  margin: 20px 100px 20px 20px;
  font-weight: bold;
  font-size: 20px;
  border: solid darkslategray;
}

.farm-profile-address{
  margin-top: 100px;
  margin-left:170px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: rgb(124,153,123,.7);
  align-items: center;
  border: solid darkslategray;
}

a{
  text-decoration: none;
  color: black;
}

        /* SEARCHBAR */
.searchbar-container {
  position: relative;
  text-align: center;
  padding: 10px;
  
}

.searchbar {
  padding: 5px;
  width: 65vw;
  border: 1px solid rgb(208, 224, 208);
}


/* user profile styling */
.profile-container{
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.5);

}

.welcome-user{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 30px;
  margin-top: 0px;
}

.badge-div {
  position: relative; 
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.pic-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile-pic {
  object-fit: cover;
  margin: 50px;
  position: relative; 
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.picture-change{
  border: solid black 2px;
  padding: 10px;
}
.badge-pic {
  object-fit: cover;
  position: relative; 
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.about-me-heading{
  font-size: 30px;
}

#aboutme{
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile-info{
  margin: 50 px;
}
.name-farmer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about {
  
  border: solid black 2px;
  padding: 20px;
  background:rgba(255,255,255,0.6);
}
 .edit-form{
  background-color: rgba(115, 181, 145, .4);
  color: #156C28;
 }
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.preview-profile{
  position: relative;
  color: #156C28;
  width: 100px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(115, 181, 145, .4);
  border: 2px solid #156C28;

}
          /* NEW POST COMPONENT */
 .makeNewPost {
   position: relative;
   top: 0;
   text-align: left;
   max-width: 30vw;
   height: 90vh;
   color:rgb(165, 99, 37);
   background-color: rgb(255, 239, 225);
   border: 1px solid orange;
   border-radius: 20px;
   margin-right: 15px;
 }

 textarea {
   max-width: 22vw;
 }
/* about us page styling */

.about-us-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}

                      /* ***COMMUNITY BOARDS*** */

/* trade styling */

.trade{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}

/* BUY BOARD*/

.board-container {
  display: flex;
  flex-direction: row;
}

.board-posts {
  display: flex;
  flex-direction: column;
}

.board-title{
  background-color: rgb(115, 181, 145) ;
  height: 50px;
  color: white;
  font-size: 50px;
}

.newpost-button{
  margin: 0 auto;
}
.postDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 67vw;
  margin: .8vh 0;
  text-align: center;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(183, 209, 183);
  border-left: 5px solid #90bd85;
  border-radius: 5px;
  
}
.no-margin{
  margin:0px;
}
.post-content{
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}
.comment-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 30px;
  margin: 0px 300px 0px 300px;
}
.comments{
  background-color: rgba(215, 238, 214);
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}
.post-title{
  background-color: rgb(221, 193, 166) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 30px;
  margin: 0 10px;
}
.post-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

}

/* styling for holistic */

.holistic{
  background-color: rgb(115, 181, 145);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}

.postContainer{
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  
}

.post-stamp {
  font-size: 13px;
}

.post-type {
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 14px;
  padding: 6px;
}

.poster-photo {
  width: 30px;
  height: 30px;
}

.communityButton {
  color: #156C28;
  padding: 10px;
  width: 210px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #156C28;
  border-radius: 15px;
}

.postScroll {
  height: 75vh;
  background:rgba(255,255,255,0.6);
  overflow: scroll;
}


/* volunteer page styling */
.volunteer{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}

.boardDescrip {
  color:#156C28;
  text-align: center;
}

.view-post {
  position: relative;
  margin:5px;
  margin-left: 75px;
  width: 1450px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
  
}
/* login page styling */

.login{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}
.login-container{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form-group{
  margin:  15px 0px 15px 0px;
}

/* garden page styling */

.garden-list{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 50px;
}

.garden-list-img-div{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 50px;
  
  
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


/* ***Team*** */
.team{
  color: #507E5A;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  border: 2px solid #156C28;
  margin: 50px;

}


.about-us-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}
.about-homepage{
  background:rgba(255,255,255,0.6);
  margin: 50px;
  border: solid black 2px;
  padding: 20px;
}
.bio-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px;
  position: relative; 
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
}

.one-bio{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* garden profile styling */
.garden-profile{
  background:rgba(255,255,255,0.6);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}
.farm-profile-img-div {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 150px;
}
.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .garden-profile-info{
 margin: 100px 100px 100px 0px;
 }
.garden-profile-about-heading{
  font-size: 24px;
}
.garden-profile-about{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  font-weight: bold;
  margin:20px;
  font-size: 16px;
  border: solid black;
}
.garden-profile-reviews-heading{
  font-size: 24px;
}
.review-1{
  background:rgba(215, 238, 214); 
  letter-spacing: 1.5px;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  border: solid black;
  font-size: 16px;
}
.review-2{
  background:rgba(215, 238, 214);
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  border: solid black;
  font-size: 16px;
}
.review-3{
  background:rgba(215, 238, 214);
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  border: solid black;
  font-size: 16px;
}
.farm-profile-address{
  font-size: 18px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

/* garden page styling */
.garden-list-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-list{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 60px;
}
.ind-garden-heading{
  font-size: 24px;
}
.ind-garden{
  background:rgba(255,255,255,0.6);
  border: solid black;
  margin: 15px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.ind-garden-profile{
  margin-right:80px;
}
.garden-list-img-div{
  position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
            margin-top: 50px;
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-of-gardens{
  margin-top:100px;
  width: 1200px;
  margin: auto;
}
.gardren-list-address{
  margin:50px;
}
