* {
  box-sizing: border-box;
}

body{
  background-image: url("https://i.imgur.com/VWwS0Zf.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* *** Homepage Styling ***  */
.header{
  font-family: 'Elisabeth Clara', sans-serif;
  color:white;
  display: flex;
  justify-content: left;
  font-size: 60px;
  margin-left: 100px;
}

.HomepageMain {
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 15px;
  height: auto;
  width: 1200px;
  
}

.aboutFarmony {
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  color:#D7EED6;
  margin: 0 auto;
  font-size: 28px;
  top: 230px;
}

#aboutFarmony2 {
  color: #507E5A;
  margin-bottom: -200px;
}

.topDivHP {
  height: 200px;
  width: 1100px;
  background-color:rgba(115, 181, 145);
  margin: auto;

}

.bottomDivHP {
  height: 200px;
  width: 1100px;
  background-color: #D7EED6;
  margin: auto;
  
}

.triangleDivHpR {
  position: relative;
  width: 0;
  height: 0;
  left: 585px;
  border-top: 100px solid #D7EED6;
  border-right: 550px solid transparent;
  
}

.triangleDivHpL {
  position: relative;
  display: inline;
  right: -35px;
  width: 0;
  height: 0;
  border-top: 100px solid #D7EED6;
  border-left: 550px solid transparent;
  
}

.zipFormDiv {
  position: relative;
  width: 900px;
  height: 10px;
  left: 0px;
  margin: 0 auto;
  padding: 10px;
}

/* ***Zip Form styling*** */

.zip-form {
  position: relative;
  width: 900px;
  left: 0px;
  margin: 0 auto;
  padding: 10px;
}

.form-controlHp {
  font-size: 30px;
  color: #156C28;
  text-align: center;
  height: 40px;
  width: 750px;
}

#zipButton {
  position: relative;
  color: #156C28;
  width: 100px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(115, 181, 145, .4);
  border: 2px solid #156C28;
}

.gardenDisplayDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
  
  
}


/* garden profile styling */
.garden-img-div {
  display: inline-block;
  position: relative;
  text-align: center; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px double #156C28;

}

.gardenDisplayP {
  display: inline-block;
}

.garden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
a {
  text-decoration: none;
  color: #156C28;
}
.gardenDisplayLink {
  position: relative;
  display: inline-block;
  color: #156C28;
  width: 200px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #156C28;
  object-fit: cover;
  
}

.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;

}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;

}
.farm-profile {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 50px;
  
}

.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.garden-profile{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: flexbox;
   
}

.garden-profile-info{
      background:rgba(215, 238, 214); 
      width: 800px;
}
.garden-left{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:  center;
  margin-left: 100px;
}
.farm-profile-address{

}

/* user profile styling */
.profile-container{
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.5);

}
.welcome-user{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
  margin-top: 0px;
}
.badge-div {
  position: relative; 
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.pic-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile-pic {
  object-fit: cover;
  margin: 50px;
  position: relative; 
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.picture-change{
  border: solid black 2px;
  padding: 10px;
}
.badge-pic {
  object-fit: cover;
  position: relative; 
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile-info{
  margin: 50 px;
}
.name-farmer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about {
  
  border: solid black 2px;
  padding: 20px;
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
/* about us page styling */

.about-us-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}



/* trade styling */

.trade{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

/* buy styling */

.community-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
  margin-top: 0px;
}
.newpost-button{
  margin: 0 auto;
}
.post-back{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 50px;
}
.post-container{
  background-color: rgba(215, 238, 214);
  margin: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.view-post{
  background-color: white;
  margin: 20px 50px 0 50px;
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.no-margin{
  margin:0px;
}
.post-content{
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}
.comment-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 30px;
  margin: 0px 300px 0px 300px;
}
.comments{
  background-color: rgba(215, 238, 214);
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}
.post-title{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 30px;
  margin: 0px 50px 0px 50px;
}
.post-form{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;

}

/* styling for holistic */

.holistic{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

.holistic-div{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: flexbox;
}


/* volunteer page styling */
.volunteer{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

* {
  box-sizing: border-box;
}
body{
  background-image: url("https://i.imgur.com/VWwS0Zf.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/* *** Homepage Styling ***  */
.header{
  font-family: 'Elisabeth Clara', sans-serif;
  color:white;
  display: flex;
  justify-content: left;
  font-size: 60px;
  margin-left: 100px;
}
.HomepageMain {
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 15px;
  height: auto;
  width: 1200px;
}
.aboutFarmony {
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  color:#D7EED6;
  margin: 0 auto;
  font-size: 28px;
  top: 230px;
}
#aboutFarmony2 {
  color: #507E5A;
  margin-bottom: -200px;
}
.topDivHP {
  height: 200px;
  width: 1100px;
  background-color:rgba(115, 181, 145);
  margin: auto;
}
.bottomDivHP {
  height: 200px;
  width: 1100px;
  background-color: #D7EED6;
  margin: auto;
}
.triangleDivHpR {
  position: relative;
  width: 0;
  height: 0;
  left: 585px;
  border-top: 100px solid #D7EED6;
  border-right: 550px solid transparent;
}
.triangleDivHpL {
  position: relative;
  display: inline;
  right: -35px;
  width: 0;
  height: 0;
  border-top: 100px solid #D7EED6;
  border-left: 550px solid transparent;
}
.zipFormDiv {
  position: relative;
  width: 900px;
  height: 10px;
  left: 0px;
  margin: 0 auto;
  padding: 10px;
}
/* ***Zip Form styling*** */

.form-controlHp {
  font-size: 30px;
  color: #156C28;
  text-align: center;
  height: 40px;
  width: 750px;
}
#zipButton {
  position: relative;
  color: #156C28;
  width: 100px;
  left: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(115, 181, 145, .4);
  border: 2px solid #156C28;
}
.gardenDisplayDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid #156C28;
}
/* login page styling */

.login{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.login-container{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form-group{
  margin:  15px 0px 15px 0px;
}

/* signup page styling */

.signup{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.signup-container{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.form-group{
  margin:  15px 0px 15px 0px;
}

/* nav styling */

nav{
  background-color:#7C997B;
  display:flex;
  flex-direction:column;
  align-items: center;

  
}
ul{
  text-decoration: none;
  
}
.nav-link{
  text-decoration: none;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right:20px;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 30px;
  color:white;

}

li{
  display: inline;
  float:left;
  
}
/* garden page styling */

.garden-list{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}

.garden-list-img-div{
  position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
  
  
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


/* team */
.team{
  background-color: rgba(215, 238, 214);
  margin: 50px;
}
.team-heading{
  margin: 20px;
}
.about-us-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.about-homepage{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  margin: 50px;
  border: solid black 2px;
  padding: 20px;
}
.bio-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px;
  position: relative; 
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
}

.one-bio{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* garden profile styling */
.garden-profile{
  background:rgba(255,255,255,0.6);
  font-family: 'Medio', sans-serif;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.garden-img-div {
  position: relative; 
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 100px;
}
.garden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.garden-profile-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-profile-name{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.farm-profile-img-div {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 150px;
}
.farm-profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .garden-profile-info{
 margin: 100px 100px 100px 0px;
 }
.garden-profile-about-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.garden-profile-about{
  background:rgba(215, 238, 214); 
  width: 800px;
  letter-spacing: 1.5px;
  width: 700px;
  padding: 20px;
  font-weight: bold;
  margin:20px;
  font-family: 'Beauty Club', sans-serif;
  font-size: 16px;
  border: solid black;
}
.garden-profile-reviews-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.review-1{
  background:rgba(215, 238, 214); 
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.review-2{
  background:rgba(215, 238, 214);
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.review-3{
  background:rgba(215, 238, 214);
  font-family: 'Josefin Slab', sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
 font-weight: bold;
  margin: 20px;
  font-family: 'Beauty Club', sans-serif;
  border: solid black;
  font-size: 16px;
}
.farm-profile-address{

  font-family: 'Beauty Club', sans-serif; 
  font-size: 18px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

/* garden page styling */
.garden-list-heading{
  background-color: rgb(115, 181, 145) ;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.garden-list{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 60px;
}
.ind-garden-heading{
  font-family: 'Elisabeth Clara', sans-serif;
  font-size: 24px;
}
.ind-garden{
  background:rgba(255,255,255,0.6);
  border: solid black;
  margin: 15px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.ind-garden-profile{
  margin-right:80px;
}
.garden-list-img-div{
  position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin-left: 140px;
            margin-bottom: 50px;
            margin-top: 50px;
}
.garden-list-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{
  font-family: 'Beauty Club', sans-serif; 
}
.list-of-gardens{
  margin-top:100px;
  width: 1200px;
  margin-left: 300px;
  margin-right: 400px;
}
.gardren-list-address{
  margin:50px;
}


